*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
    font-family: 'Noto Sans', sans-serif;
}

/* HEADER */
header{
    background-color: white;
    padding: 20px;
}

.container{
    display: flex;
    align-items: center;
    
}

.flexmenu{
    display: flex;
    justify-content: space-between;
    
}

.nav-1 li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}

.nav-2 li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.btn-blue{
    background-color: #0061ff;
    color: white;
    border: 1px solid black;
    padding: 5px;
}

.btn-grey{
    background-color: white;
    color: black;
    padding: 5px;
    border: 1px solid black;
}

.section1{
    width: 100%;
    margin: auto; 
    background-color:#b4d0e7;
}
.secdiv1{
  width: 70%;
  margin: 0 auto;
  height: 650px;   
}


h1{
    text-align: left;
    padding-top: 50px;
    align-items: center;
    font-size: 4.5rem;
    width: 90%;

}

.left{
    width: 30%;
    float:left;
    margin-top: 30px;
}


.right{
    width: 70%;
    align-items: right;
    float: right;
    margin-top: 15px;
}

.right img{
    width:100%;
    
}

#arrow{
    font-size: 5.0rem;
}

.delete{
    margin-bottom:60px;
    margin-top:20px;
}

.section2{
    width: 50%;
    margin: 0 auto;
    margin-top:100px;
    
}
.secdiv2 h3{
font-size: 2.5rem;
}

.radio{
    margin-top:40px;
}

.btn-blue2{
    padding:10px;
    background-color: #0061ff;
    color: white;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-top: 20px;
}

.plans{
    display: flex;
    margin-top: 3rem;
}

.professional-plan{
    margin-right: 5%;
}

.topaside{
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #dedfe1;
    padding: 7px 0;
}

.mainaside{
    padding: 1.5rem 1.5rem;
}

.mainaside ul, li{
    padding: 1rem 0rem;
}

.mainaside h3{
    font-size: 2rem;
}

.mainaside h4, p, h3{
    padding: 1rem 0rem;
}

.btnaside{
    background-color: #0061ff;
    outline: none;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    border: solid 1px #0061ff;
    padding: 0.8rem;
    font-size: 0.8rem;
}

.btnaside a{
    text-decoration: none;
    color: white;
}

.hr-line{
    width: 25%;
    border-bottom: solid 2px #c5c5c5;
    margin: 20px 0;
}