*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
    font-family: 'Noto Sans', sans-serif;
}

/* HEADER */
header{
    background-color: white;
    padding: 15px 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    left: 0;
    top: 0;
    min-height: 65px;
    align-items: center;
    width: 100%;
}

header a {
  text-decoration: none;
  color: black;
}

.flexmenu{
    display: flex;
    align-items: center;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    z-index: 10;
}

.flexmenu > div{
    padding: 1rem;
}

.btn-blue{
    color: white;
  background-color: #0061ff;
  text-align: center;
  padding: 0.6rem;
}

.btn-white{
    background-color: white;
    color: black;
    text-align: center;
    padding: 0.6rem;
}

/*MAIN*/
.section1{
    width: 100%;
    margin: auto; 
    background-color:#b4d0e7;
}
.secdiv1{
  width: 70%;
  margin: 0 auto;
  height: 650px;   
}


h1{
    text-align: left;
    padding-top: 50px;
    align-items: center;
    font-size: 4.5rem;
    width: 90%;

}

.left{
    width: 30%;
    float:left;
    margin-top: 30px;
}


.right{
    width: 70%;
    align-items: right;
    float: right;
    margin-top: 15px;
}

.right img{
    width:100%;
    
}

#arrow{
    font-size: 5.0rem;
}

.delete{
    margin-bottom:60px;
    margin-top:20px;
}

.section2{
    width: 50%;
    margin: 0 auto;
    margin-top:100px;
    
}

.secdiv2 h3{
font-size: 1.9rem;
}

.radio{
    margin-top:40px;
}

.btn-blue2{
    padding:10px;
    background-color: #0061ff;
    color: white;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-top: 20px;
}

.plans{
    display: flex;
    margin-top: 3rem;
}

.plans aside{
    float: left;
    width: 33%;
    min-height: 900px;
    border: 1px solid #dedfe1;
}

.plans ul{
    list-style: none;
}

.professional, .advanced{
    margin-right: 5%;
}

.topaside{
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #dedfe1;
    padding: 7px 0;
}

.mainaside{
    padding: 1.5rem 1.5rem;
}

.mainaside ul, li{
    padding: 1rem 0rem;
}

.mainaside h3{
    font-size: 1.7rem;
}

.mainaside h4, h5, h3{
    padding: 1rem 0rem;
}

.btnaside{
    background-color: #0061ff;
    outline: none;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    border: solid 1px #0061ff;
    padding: 0.8rem;
    font-size: 0.8rem;
}

.btnaside a{
    text-decoration: none;
    color: white;
}

.hr-line{
    width: 25%;
    border-bottom: solid 2px #c5c5c5;
    margin: 20px 0;
}

.buy{
    padding: 2rem 0rem;
}

.fa-check{
    color: blue;
    font-size: 1.3rem;
}
